<form [formGroup]="form">
    <div class="form-group">
        <label for="oldP">Old Password :</label>
        <input formControlName="oldPassword" type="text" class="form-control" id="oldP">
        <div *ngIf="oldPassword!.pending" class="alert alert-info">Checking Old password</div>
        <div *ngIf="oldPassword!.touched">
            <app-validation-error [errors]="oldPassword!.errors"
            [errorPrefix]="'Old Password'"></app-validation-error>
        </div>  
    </div>
    <div class="form-group">
        <label for="newP">New Password :</label>
        <input formControlName="newPassword" type="text" class="form-control" id="newP">
        <div *ngIf="newPassword!.touched">
            <app-validation-error [errors]="newPassword!.errors"
            [errorPrefix]="'Password'"></app-validation-error>
        </div>  
    </div>
    <div class="form-group">
        <label for="confirmP">Confirm Password :</label>
        <input formControlName="confirmPassword" type="text" class="form-control" id="confirmP">
        <div *ngIf="confirmPassword!.touched">
            <app-validation-error [errors]="confirmPassword!.errors"
            [errorPrefix]="'Password'"></app-validation-error>
            <app-validation-error [errors]="form!.errors"
            [errorPrefix]="'Passwords'"></app-validation-error>
        </div>  
    </div>
    <div>{{oldPassword!.value}}</div>
    <div>{{newPassword!.value}}</div>
    <div>{{confirmPassword!.value}}</div>
</form>
