<form #f="ngForm" (ngSubmit)="Submit(f)">
    <div ngModelGroup="nameDetails" class="form-group">
        <label for="txtinput" class="form-label">Name</label>
        <input ngModel minlength="3" maxlength="10"
         required name="inputValue" #myVar="ngModel"
          id="txtinput" type="text" (change)="showNgModelObject(myVar)" 
          class="form-control">
        <div *ngIf="!myVar.valid && myVar.touched">
            <app-validation-error [errors]="myVar.errors" [errorPrefix]="'Name'"></app-validation-error>
        </div>
    </div>
    <div class="form-group">
        <label for="txtComments" class="form-label">Comment</label>
        <textarea ngModel required name="textareaValue" 
        #myVar2="ngModel" id="txtComments"
         class="form-control" cols="30" rows="10"></textarea>
        <div *ngIf="!myVar2.valid && myVar2.touched">
            <app-validation-error [errors]="myVar2.errors" [errorPrefix]="'Comment'"></app-validation-error>
        </div>    </div>
    <div class="mb-3 form-check">
        <input ngModel name="isChecked" type="checkbox"
         class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="form-group">
        <label for="valueList">List of Values</label>
        <select ngModel name="valueList" id="valueList" class="form-control">
            <option value=""></option>
            <option *ngFor="let value of values" [value]="value.id">{{value.city}}</option>
        </select>
    </div>
    <div *ngFor="let value of values" class="form-check">
        <input ngModel type="radio" [value]="value.id"
         name="valueRadio" id="valueRadio{{value.id}}" class="form-check-input">
        <label for="valueRadio{{value.id}}" class="form-check-label">{{value.city}}</label>
    </div>
    <div>{{f.value | json}}</div>
    <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
</form>

