<form [formGroup]="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" id="name" class="form-control">
        <div *ngIf="name!.pending">checking for uniqueness</div>
        <div *ngIf="name!.touched">
            <app-validation-error [errors]="name!.errors"
             [errorPrefix]="'Name'"></app-validation-error>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <input formControlName="comment" type="text" id="comment" class="form-control">
        <div *ngIf="comment!.touched">
            <app-validation-error [errors]="comment!.errors" 
            [errorPrefix]="'Comment'"></app-validation-error>
        </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="SaveData()">Save Data</button>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let detail of details$ | async">{{detail.Name}}  {{detail.Comment}}</li>
      </ul>
    
</form>
