<reactive-form></reactive-form>
<!---
<h2>App Component</h2>
<app-author></app-author>
<br/>
<favorite [is-full]="isFullParent" (toggleClock)="ToggleAlarmParent($event)"></favorite>
<input [(ngModel)]='title' type='text'>
<div>{{title | textFormatter}}</div>
-->


<!---  
*ngIf

<div *ngIf="isFullParent; then FillAlarm else noFillAlarm"></div>
<ng-template #FillAlarm><div>Full Alarm Clock</div></ng-template>
<ng-template #noFillAlarm><div>No Fill Alarm Clock</div></ng-template>


---  NG SWITCH CASE
<ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">Map View</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
</div>
-->




